@import "variables";

.detail-wrapper {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 992px) {
    flex-direction: row;
  }
}

.detail-primary {
  margin-right: 1rem;
  flex-grow: 1;

  @media only screen and (min-width: 600px) {
    min-width: 36rem;
  }

  .embedded-video {
    width: 100%;
    aspect-ratio: 4 / 3;
  }

  .detail-primary__info {
    color: $font-color-primary;
  }
}

.detail-secondary {
  @media only screen and (min-width: 1200px) {
    flex-basis: 20rem;
    flex-shrink: 0;
  }
}
