@import "variables";

.card {
  margin-bottom: 1rem;
  color: $font-color-primary;
  cursor: pointer;

  h3 {
    margin: 0.5rem 0;
    width: 10rem;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  .card__info--channel,
  .card__info--published {
    color: $font-color-secondary;
  }

  .card__info--channel {
    margin-bottom: 2px;
  }
}

.horizontal {
  display: flex;
  flex-direction: row;

  img {
    width: 10rem;
    height: 6rem;
    margin-right: 0.5rem;
  }

  .card__info {
    h3 {
      margin-top: 0;
      font-size: 1rem;
    }

    .card__info--channel,
    .card__info--published {
      font-size: 0.875rem;
    }
  }
}

.vertical {
  display: flex;
  flex-direction: column;
}

.card__thumbnail {
  width: 100%;
  height: auto;
}
