.main-videos-found {
  width: 100%;
  display: grid;
  gap: 0.25rem;
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Big screen devices (889px and above) */
  @media only screen and (min-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
  }

  /* Extra big screen devices (1200px and above) */
  @media only screen and (min-width: 1200px) {
    grid-template-columns: repeat(5, 1fr);
  }
}
